@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.headers {
  box-shadow: 0px 10px 20px 0px #ac1e2326;
}

.dashboard-sidebar-left {
  width: 60px;
  transition: 0.5s;
  box-shadow: 0px 10px 15px 0px #2e2f3e26;
}
.dashboard-sidebar-left.active {
  width: 240px;
}
.dashboard-sidebar-right {
  margin-left: 60px;
  min-height: calc(100vh - 48px);
  transition: 0.5s;
  overflow: hidden;
}
.dashboard-sidebar-right.active {
  margin-left: 240px;
}
.mobile-icon {
  display: none;
}

.sidebartext {
  font-size: 13px;
}

.country-modal-content {
  width: 550px;
}

.bold-header {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 900 !important;
}

.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}

.custom-datagrid .css-wop1k0-MuiDataGrid-footerContainer {
  flex: 0 0 auto !important; /* Override the flex property to control height */
  min-height: 35px !important; /* Adjust the height as needed */
  height: 35px !important;
  overflow: hidden !important; /* Also set the height to ensure it takes effect */
  border: none !important;

  /* Adjust the height as needed */
}

.custom-datagrid .MuiDataGrid-cell {
  padding-left: 2px !important; /* Adjust the padding as needed */
  /* Adjust the padding as needed */
  text-align: left !important;
}

@media screen and (max-width: 1100px) {
  .dashboard-sidebar-left {
    width: 0px;
  }
  .dashboard-sidebar-right {
    margin-left: 0px;
  }
  .mobile-icon {
    display: contents;
  }

  .dashboard-sidebar-left.active {
    width: 50%;
  }

  .dashboard-sidebar-right.active {
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .dashboard-sidebar-left.active {
    width: 80%;
  }

  .dashboard-sidebar-right.active {
    margin-left: 0px;
  }

  .sidebartext {
    font-size: 14px;
  }
}
